@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 89, 89, 89;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 224, 224, 224;
  --header-color-rgb: 172, 138, 110;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 200, 200, 200;
    --background-start-rgb: 40, 40, 40;
    --background-end-rgb: 50, 50, 50;
    --header-color-rgb: 200, 160, 120;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-raleway), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Rule for all headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(var(--header-color-rgb));
  font-family: var(--font-playfair-display), serif;
}
h1 {
  @apply text-5xl md:text-6xl font-medium mb-8;
}
h2 {
  @apply font-medium text-4xl lg:text-5xl mb-4 lg:mb-8;
}
h3 {
  @apply text-3xl lg:text-3xl font-medium mb-4;
}
h4 {
  @apply text-xl lg:text-2xl font-medium mb-2;
}
p,
ul > li,
ol > li {
  @apply text-xl leading-relaxed;
}

.my-grid {
  @apply col-span-12 md:col-span-10 lg:col-span-10 xl:col-span-8 2xl:col-span-6 md:col-start-2 lg:col-start-2 xl:col-start-3 2xl:col-start-4 mb-4 mt-2 lg:mb-10 lg:mt-4;
}

.my-image {
  @apply rounded-2xl w-full col-span-12 my-2;
}

.video-container {
  @apply relative w-full pb-[56.25%] h-0 overflow-hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; /* Optional: Remove the iframe border */
}

.my-tag {
  @apply inline-flex items-center rounded border border-neutral-200 bg-neutral-50 p-1 text-sm leading-4 text-neutral-900 no-underline dark:border-neutral-700 dark:bg-neutral-800 dark:text-neutral-100 mr-2 mb-2;
}
